{% extends './Base.html' %} {% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    
    <div class="card">
        <h5 class="card-header">CREATE CAR </h5>
         <h5 class="card-header">
          <a href="{% url 'create_car' %}" class="btn btn-primary">Create</a>
        </h5> 
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                
                <th>CARS</th>
              
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for i in car_list %}
              <tr>
                <td>
                <i class="fab fa-angular fa-lg text-danger me-3"></i>
                <img class="w-px-200 h-auto rounded-circle" height="200" width="200" src={{i.image.url}}>
              </td>
                <td>
                         <h6>name</h6>  
                  <i class="fab fa-angular fa-lg text-danger me-3"></i>
                  <strong>{{i.name}}</strong>
                </td>

                <td>
                  <h6>brand</h6>
                  <i class="fab fa-angular fa-lg text-danger me-3"></i>
                  <strong>{{i.brand}}</strong>
                </td>

                <td>
                    <h6>price</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.price}}</strong>
                  </td>

                  <td>
                    <h6>cartype</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.cartype}}</strong>
                  </td>

                <td>
                    <h6>exterior</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.exterior}}</strong>
                  </td>
                <td>
                    <h6>fuel</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.fuel}}</strong>
                  </td>

                  <td>
                    <h6>car varient</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.carvarient}}</strong>
                  </td>

              
                  <td>
                    <h6>comfort</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.comfort}}</strong>
                  </td>
                
                <!-- <td><span class="badge bg-label-primary me-1">Active</span></td> -->
                <td>
                  
                  <div class="dropdown">
                      <a class="dropdown-item" href="{% url 'update_car' i.id %}"
                        ><i class="bx bx-edit-alt me-1"></i> update</a
                      >
                      <a class="dropdown-item" href="{% url 'delete_car' i.id %}"
                        ><i class="bx bx-trash me-1"></i> Delete</a
                      >
                      
                    
                  </div>
                </td>
              </tr>
  
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endblock content %}
</body>
</html>