{% extends './Base.html' %} {% load crispy_forms_tags %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block content %}
    
    <div class="card">
        <h5 class="card-header">CREATE CAR COMFORT</h5>
         <h5 class="card-header">
          <a href="{% url 'create_comfort' %}" class="btn btn-primary">Create</a>
        </h5> 
        <div class="table-responsive text-nowrap">
          <table class="table">
            <thead>
              <tr>
                
                <th>COMFORTS</th>
              
              </tr>
            </thead>
            <tbody class="table-border-bottom-0">
              {% for i in comfort_list %}
              <tr>
                <td>
                  <h6> vanitymirror</h6>  
                  <i class="fab fa-angular fa-lg text-danger me-3"></i>
                  <strong>{{i.vanitymirror}}</strong>
                </td>

                <td>
                    <h6> realseatheadrest</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.realseatheadrest}}</strong>
                  </td>

                <td>
                    <h6>adjustableheadrest</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.adjustableheadrest}}</strong>
                  </td>
                <td>
                    <h6> rearseatcentrearmrest</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.rearseatcentrearmrest}}</strong>
                  </td>

                  <td>
                    <h6>  heightadjustablefrontseatbelts</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.heightadjustablefrontseatbelts}}</strong>
                  </td>

                  <td>
                    <h6>  rearACVents</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.rearACVents}}</strong>
                  </td>

                  <td>
                    <h6> seatLumbarSupport</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.seatLumbarSupport}}</strong>
                  </td>

                  <td>
                    <h6> multifunctionSteeringWheel</h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.multifunctionSteeringWheel}}</strong>
                  </td>

                  <td>
                    <h6> cruiseControl </h6>
                    <i class="fab fa-angular fa-lg text-danger me-3"></i>
                    <strong>{{i.cruiseControl}}</strong>
                  </td>
                
                <!-- <td><span class="badge bg-label-primary me-1">Active</span></td> -->
                <td>
                  
                  <div class="dropdown">
                      <a class="dropdown-item" href="{% url 'update_comfort' i.id %}"
                        ><i class="bx bx-edit-alt me-1"></i> update</a
                      >
                      <a class="dropdown-item" href="{% url 'delete_comfort' i.id %}"
                        ><i class="bx bx-trash me-1"></i> Delete</a
                      >
                      
                    
                  </div>
                </td>
              </tr>
  
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endblock content %}
        
</body>
</html>