{% load static %}
<!DOCTYPE html>
<html>
  <head>
	<link rel="stylesheet" href="{% static 'css/login1.css' %}" type="text/css">

  </head>
  <body>
    <div class="wrapper">
      <div class="title-text">
        
        <div class="title signup">Admin Signup Page</div>
      </div>
      <div class="form-container">
        
        <div class="form-inner">
         
          <form action="#" class="signup" method="post">
            {% csrf_token %}
			<div class="field">
				<label>USERNAME</label>			
				{{form.username}}
			  </div>
            <div class="field">
                <label>EMAIL</label>              
			    {{form.email}}
            </div>
            <div class="field">
                <label>PASSWORD</label>            
			  {{form.password1}}
            </div>
            <div class="field">
                <label>CONFIRM PASSWORD</label>
			  {{form.password2}}
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Signup">
            </div>
			
          </form>
        </div>
      </div>
    </div>

    <script>
      const loginText = document.querySelector(".title-text .login");
      const loginForm = document.querySelector("form.login");
      const loginBtn = document.querySelector("label.login");
      const signupBtn = document.querySelector("label.signup");
      const signupLink = document.querySelector("form .signup-link a");
      signupBtn.onclick = (()=>{
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
      });
      loginBtn.onclick = (()=>{
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
      });
      signupLink.onclick = (()=>{
        signupBtn.click();
        return false;
      });
    </script>

  </body>
</html>
